.menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 300px;
  margin: 0 auto;
  gap: 10px;
}

.menu-title {
  font-size: 2rem;
  font-weight: 500;
  color: #b721ff;
  text-align: center;
  margin-bottom: 20px;
}

.menu-option {
  font-size: 1.5rem;
  padding: 15px 0px;
  background: #c8c8c8;
  background: linear-gradient(19deg, #c8c8c8 0%, #c8c8c8 100%);
  border-radius: 6px;
  border: none;
  cursor: pointer;
  transition: all 0.3s;
}

.menu-option:hover {
  background: #21d4fd;
  background: linear-gradient(19deg, #21d4fd 0%, #b721ff 100%);
}
