.markerselect {
  margin: 0 auto;
  text-align: center;
}

.markerselect-options {
  display: flex;
  gap: 20px;
  justify-content: center;
}

.markerselect-title {
  font-size: 2rem;
  font-weight: 500;
  color: #b721ff;
  text-align: center;
  margin-bottom: 20px;
}

.markerselect-option {
  font-size: 6rem;
  font-family: "Lato", sans-serif;
  font-weight: 900;
  aspect-ratio: 1/1;
  width: 120px;
  background: #c8c8c8;
  background: linear-gradient(19deg, #dddddd 0%, #ebebeb 100%);
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.markerselect-option:hover {
  background: #21d4fd;
  background: linear-gradient(19deg, #21d5fdb9 0%, #b921ffc7 100%);
  color: #fff;
}
