.antesala-avatar {
  max-width: 140px;
  max-height: 140px;
  border-radius: 50%;
  border: 2px solid #6548c674;
  margin-bottom: 10px;
  position: relative;
}

.antesala-avatar > img {
  width: 100%;
}

.antesala-avatar > button {
  padding: 5px;
  background-color: #282828;
  box-shadow: inset 0px 2px 0px var(--c-box-shadow);
  border: 2px solid var(--c-box-border);
  border-radius: 10px;
  display: flex;
  place-items: center;
  cursor: pointer;
  position: absolute;
  bottom: 5px;
  right: 5px;
}

.antesala-avatar > button > svg {
  color: #ffffffec;
}

.antesala-avatar > button:hover {
  background-color: #2e2e2e;
}

.antesala-avatar > button:active {
    background-color: #282828;
    box-shadow: inset 0px 2px 0px var(--c-box-shadow), inset 0px -2px 0px #1e1e1e;
    transform: translateY(2px);
}

.antesala-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 0px;
}

.antesala-name > input {
  padding: 10px 15px;
  font-size: 1.5rem;
  background-color: var(--c-box-bg);
  box-shadow: inset 0px 2px 0px var(--c-box-shadow);
  border: 2px solid var(--c-box-border);
  border-radius: 10px;
}

.antesala-error {
    color: red;
    font-weight: bold;
    text-align: center;
    font-size: .8rem;
}