@import url("https://fonts.googleapis.com/css2?family=Lato:wght@700;900&display=swap");

.main-container {
  width: 100%;
  height: 100vh;
  padding: 10px;
  background-image: url("./assets/images/bg.png");
}

.logo {
  margin: 0 auto;
  max-width: 204px;
  z-index: 0;
  position: relative;
  margin-bottom: 20px;
}

.logo > img {
  width: 100%;
  z-index: 0;
}

.logosmall {
  width: 200px;
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 20px;
}

.logosmall > img {
  width: 100%;
}

.finished {
  position: absolute;
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  background-image: url('./assets/images/purplebg.png');
  top: 0;
  left: 0;
  border-radius: 10px;
}

.title {
  text-align: center;
  font-size: 4rem;
  font-weight: 600;
  color: #fff;
}

.gradient-pink {
  background: #dd2a7f;
  background: linear-gradient(90deg, #dd2a7f 0%, #a433f2 100%);
}
.gradient-orange {
  background: #f89d3e;
  background: linear-gradient(90deg, #f75691 0%, #f89d3e 100%);
}
.gradient-green {
  background: #2dd779;
  background: linear-gradient(90deg, #2dd779 0%, #259cf1 100%);
}

.gradient-pink:hover,
.gradient-orange:hover,
.gradient-green:hover {
  transform: scale(1.1);
}
