@import url("https://fonts.googleapis.com/css2?family=Lato:wght@700;900&display=swap");

.main-container {
  width: 100%;
  height: 100vh;
  padding: 10px;
  background-image: url("./assets/images/bg.png");
}

.title {
  text-align: center;
  font-size: 4rem;
  font-weight: 600;
  color: #fff;
}

.gradient-pink {
  background: #dd2a7f;
  background: linear-gradient(90deg, #dd2a7f 0%, #a433f2 100%);
}
.gradient-orange {
  background: #f89d3e;
  background: linear-gradient(90deg, #f75691 0%, #f89d3e 100%);
}
.gradient-green {
  background: #2dd779;
  background: linear-gradient(90deg, #2dd779 0%, #259cf1 100%);
}

.gradient-pink:hover,
.gradient-orange:hover,
.gradient-green:hover {
  transform: scale(1.1);
}

.button {
  font-size: 2rem;
  padding: 15px 40px;
  border-radius: 30px;
  border: none;
  cursor: pointer;
  transition: all 0.3s;
  font-family: var(--f-special);
  font-weight: 400;
  margin: 20px auto;
  display: block;
}

.button.disabled {
  opacity: 0.5;
  cursor: wait;
}

.button.disabled:hover {
  transform: scale(1);
}
